<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Distribute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <style type="text/css">
      @media (max-width: 480px) {
        .mobilePaddings {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
        .tabsTitle {
          font-size: 14px !important;
        }
        .mainIllustration {
          width: 270px !important;
        }
      }
      .h2 {
        line-height: 28px; font-size: 18px; font-weight: 400
      }
        table,
        td,
        img,
        a,
        span {
            font-family: Roboto, sans-serif;
            box-sizing: border-box !important;
        }
    </style>
  </head>
  <body style="margin: 0; padding: 0; background-color: #E5E5E5;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr align="center">
          <td align="center" style="padding: 40px 0 20px">
            <table
              border="0" cellpadding="0" cellspacing="0" width="100%"
              style="background-color: #FFFFFF; border-radius: 10px; max-width: 600px;"
            >
              <tbody>
                <!-- Header -->
                <tr align="center">
                  <td valign="middle" style="padding-top: 35px">
                    <img src="${hostname}/mailers/mailer-logo.png" width="74" height="74" alt="Screver" border="0"/>
                  </td>
                </tr>
                <!-- Header end -->
                <!-- Content -->
                <tr align="center">
                  <td valign="middle" style="padding: 30px 0">
                    ${content}
                  </td>
                </tr>
                <!-- Content end -->
                <!-- Social links -->
                <tr align="center">
                  <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr align="center">
                          <td>
                            <a style="display: block; text-decoration: none;" target="_blank" rel="noopener noreferrer" href="${facebook}">
                              <img src="${hostname}/mailers/mailer-facebook.png" alt="facebook" width="32" height="32" border="0"/>
                            </a>
                          </td>
                          <td style="padding: 0 12px;">
                            <a style=" display: block; text-decoration: none;" target="_blank" rel="noopener noreferrer" href="${linkedin}">
                              <img src="${hostname}/mailers/mailer-linkedin.png" alt="linkedin" width="32" height="32" border="0"/>
                            </a>
                          </td>
                          <td>
                            <a style="display: block; text-decoration: none;" target="_blank" rel="noopener noreferrer" href="${instagram}">
                              <img src="${hostname}/mailers/mailer-instagram.png" alt="instagram" width="32" height="32" border="0"/>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- Social links end -->
                <!-- Screver links -->
                <tr align="center">
                  <td style="padding: 12px 0 30px;" align="center">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <a
                              style="color: #8A8E99;text-decoration: none; line-height: 14px; font-size: 12px; font-weight: 400"
                              target="_blank" rel="noopener noreferrer"
                              href="${home}"
                            >
                              Home
                            </a>
                          </td>
                          <td style="color: #8A8E99; padding: 0 5px">
                              •
                          </td>
                          <td>
                            <a
                              style="color: #8A8E99; text-decoration: none; line-height: 14px; font-size: 12px; font-weight: 400"
                              target="_blank" rel="noopener noreferrer"
                              href="${terms}"
                            >
                              Terms
                            </a>
                          </td>
                          <td style="color: #8A8E99; padding: 0 5px">
                              •
                          </td>
                          <td>
                            <a
                              style="color: #8A8E99; text-decoration: none; line-height: 14px; font-size: 12px; font-weight: 400"
                              target="_blank" rel="noopener noreferrer"
                              href="${privacy}"
                            >
                              Privacy
                            </a>
                          </td>
                          <td style="color: #8A8E99; padding: 0 5px">
                              •
                          </td>
                          <td nowrap>
                            <a
                              style="color: #8A8E99; text-decoration: none; line-height: 14px; font-size: 12px; font-weight: 400"
                              target="_blank" rel="noopener noreferrer"
                              href="${signIn}"
                            >
                              Sign into
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- Screver links end -->
              </tbody>
            </table>
          </td>
        </tr>
        <!-- Unsubscribe text -->
        <tr align="center">
          <td align="center" style="padding-bottom: 30px ">
            <table border="0" cellpadding="0" cellspacing="0" align="center">
              <tbody>
                <tr>
                  <td nowrap>
                    <p style="word-break: break-word; color: #8A8E99; margin: 0; line-height: 14px; font-size: 12px; font-weight: 400">
                      You can unsubscribe
                    </p>
                  </td>
                  <td nowrap style="padding-left: 4px">
                    <p style="word-break: break-word; color: #8A8E99; margin: 0; line-height: 14px; font-size: 12px; font-weight: 400">
                      <a style="color: #8A8E99; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="${unsubscribe}">here</a>.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- Unsubscribe text end -->
      </tbody>
    </table>
  </body>
</html>
